body {
    margin: 0 auto;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 24px;
    line-height: 32px;
    color: #ffffff;
    margin: 0 auto;
}

header {
    position: relative;
    left: 205px;
}

h1, h6, header {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #444444;
}

header, .txt{
    background-color: #4aaaa5;
    text-align: center;
    display: inline-block;
}

#port {
    display: inline-table;
}

#about, #port{
    position: absolute;
    width:650px;
    margin-bottom: 20px;
    left: 240px;
    text-align: left;
    background-color: #ffffff;
    border: 1px solid #dddddd
}

section{
    margin-block-end:  auto;
}
#links{
    position: absolute;
    right: 240px;
    bottom: 590px;
    width: 270px;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #dddddd
}

ul {
    list-style-type: none;
    margin: 0px 15px;
    padding: 14px 16px;
    overflow: hidden;
    background-color: #ffffff;
}

#proj {
    display: block;
}

li, li a{
    display: inline;
    color:#777777;
    text-align: center;
    text-decoration: none;
}

footer {
    position: absolute;
    bottom: 0px;
    background-color: #666666; 
    text-align: center;
    border: 1px solid #cccccc;
    margin: 0 auto; 
    width: 100%
}


#tabs{
    position: absolute;
    right: 240px;
    top: 15px;
}

.form {
    width: 645px;
}

.mform {
    height: 400px;
    width: 645px;
}

.projects, .txt {
    display: inline;
}


.p1 {
    position: absolute;
    top: 50px;
    left: 50px;

}

.ptext1 {
    position: relative;
    top: 160px;
    left:19px;

    padding: 10px 73px;
}

.p2 {
    position: relative;
    bottom: 28px;
    left: 325px;

}

.ptext2 {
    position: relative;
    bottom: 80px;
    left:325px;

    padding: 10px 63px;
}

.p3 {
    position: relative;
    bottom: 28px;
    left: 19px;

}

.ptext3 {
    position: relative;
    bottom: 80px;
    left:19px;

    padding: 10px 60px;
}

.p4 {
    position: relative;
    bottom: 268px;
    left: 325px;

}

.ptext4 {
    position: relative;
    bottom: 320px;
    left:325px;
    padding: 10px 19px;
}

.p5 {
    position: relative;
    bottom: 265px;
    left: 19px;

}

.ptext5 {
    position: relative;
    bottom: 318px;
    left:19px;
    padding: 10px 14px;
}

#foot {
    position: relative;
    bottom: 0%;
    background-color: #666666; 
    text-align: center;
    border: 1px solid #cccccc;
    margin: 0 auto; 
    width: 100%
}

.txt {
    width: 250px;
}

